.block{
    display: block;
}
.none{
    display: none;
}

.item{
    padding: 20px;
    border: solid gray 1px;
    box-shadow: gray 1px 2px 3px;
     width: 95%;
    background-color: black;
    margin-top: 20px;
    border-radius: 5px;
}
.figure{
    width: 100%;
}
.itemBody{
    margin-top: 20px;
}
.itemBody h3{
    margin: 10px 0px 10px 0px;
    color: white;
}
.itemBody p{
    margin: 20px 0px 20px 0px;
    color: white;
}
.itemBody button{
    background-color: var(--s-col);
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    cursor: pointer;
}
.itemBody button:hover{
    background-color: var(--p-col);
    padding: 10px 30px 10px 30px;
    border: none;
     
}
.itemBody span{
    margin-left: 20px;
}
.itemBody span button{
    background-color: rgba(255, 68, 0, 0);
    padding: 10px 30px 10px 30px;
    border:solid  var(--s-col) 1px;
    border-radius: 5px;
    cursor:pointer;
    color: white;
}
.itemBody span button:hover{
    background-color: rgba(255, 68, 0, 0);
    padding: 10px 30px 10px 30px;
    border:solid  var(--p-col) 1px;
    border-radius: 5px;
     
}
.cartBtn{
    display: inline;
}
.cartBtnOne,.cartBtnTwo,.cartBtnThree{
    display: inline;
  
}
.cartBtnOne button{
    background-color: black;
    border-color: var(--p-col);
    border-radius: 0%;
    
}
.cartBtnTwo button{
    background-color: rgb(76, 52, 0);
    border-color: var(--p-col);
    border-radius: 0%;
   
}
.cartBtnThree button{
    background-color: black;
    border-color: var(--p-col);
    border-radius: 0%;
}

@media screen and (max-width:600px)  {
    .productItem{
       display: block;
         width: 80%;
         margin-top: 20px;
         background-color: black;
         
        }
        .figure img{
            width: 80%;
        }
        .itemBody span button{
            background-color: rgba(255, 68, 0, 0);
            padding: 10px 30px 10px 30px;
            border: solid var(--s-col) 1px;
            border-radius: 5px;
            color: white;
            margin-top: 20px;
        }
 }